#game-page {
    display: flex;
}

#participants-info {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#users {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#game-info {
    width: 50%;
    margin: 50px 60px;
    border: 1px solid #000000;
}

#disconnect-button {
    margin-left: 10px;
    margin-bottom: 30px;
}

#ready-button {
    width: 30%;
    height: 15%
}

#not-ready-button {
    width: 30%;
    height: 15%;
    display: none;
}

#user {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.user-wrapper {
    display: flex;
    align-items: baseline;
}

.user-status {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 5px;
}

button {
    height: 39px;
    width: 150px;
    font-size: 14px;
    border: 1px solid var(--main-button-border-color);
    background-color: var(--main-button-background-color);
    text-transform: uppercase;
    padding: 0 15px;
}

button:hover {
    background-color: #9c9c9c;
    cursor: pointer;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    margin-top: 5px;
    width: 300px;
    height: 25px;
}

progress::-webkit-progress-bar {
    background-color: #eee;
}

progress::-webkit-progress-value {
    background-color: #3bd965;
}